@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
/* shared styles */
.display-flex{
    display: flex;
}

/* header related styles */
header{
    background-color: #1A0B2E;
}

/* navbar related styles */
.navbar{
    max-width: 1600px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.brand{
    color: #FFFFFF;
}
.gradient{
    background: linear-gradient(135deg, #ffd600, #ff4ecd, #7a00ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link{
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-links{
    gap: 32px;
}
.btn-primary{
    padding: 12.5px 16px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(30deg, #ffd600, #ff4ecd, #7a00ff);
    cursor: pointer;
    transition: transform 0.2s ease;
}
.btn-primary:hover{
    transform: translateY(-6px);
}

/* banner related styles */
.hero{
    background: url("../images/hero-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 760px;
    justify-content: center;
    /* align-items: center;     */
    width: 100%;
}
.hero-circle{
    background: url("../images/hero-circle.png");
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
}
.banner-content{
    margin-top: -300px;
    /* margin: 0 auto; */
    align-items: center;
    text-align: center;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 0
}
.btn-subscribe{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: transparent;
    padding: 12.5px 16px;
    cursor: pointer;
    margin-top: 24px;
    transition: transform 0.2s ease;
}
.btn-subscribe:hover{
    transform: translateY(-6px);
}