@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1A0B2E;
}
/* shared styles */
.display-flex{
    display: flex;
}
.hide{
    display: none;
}

/* header related styles */
header{
    background-color: #1A0B2E;
}

/* navbar related styles */
.navbar{
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.hamburger{
    display: none;
}
.brand{
    color: #FFFFFF;
}
.gradient{
    background: linear-gradient(135deg, #ffd600, #ff4ecd, #7a00ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link{
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-links{
    gap: 32px;
}
.btn-primary-1{
    padding: 12.5px 16px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(30deg, #ffd600, #ff4ecd, #7a00ff);
    cursor: pointer;
    transition: transform 0.2s ease;
}
.btn-primary-2{
    padding: 12.5px 16px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(30deg, #ffd600, #ff4ecd, #7a00ff);
    cursor: pointer;
    transition: transform 0.2s ease;
}
.btn-primary-1:hover{
    transform: translateY(-6px);
}
.btn-primary-2:hover{
    transform: translateY(-6px);
}

/* banner related styles */
.hero{
    background: url("../images/hero-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 760px;
    justify-content: center;
    width: 100%;
}
.hero-circle{
    background: url("../images/hero-circle.png");
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
}
.new-badge{
    position: absolute;
    top: -10px;
    right: 20px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 0 10px #00FF88;
}
.banner-content{
    margin-top: -300px;
    align-items: center;
    text-align: center;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 0
}
.btn-subscribe{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: transparent;
    padding: 12.5px 16px;
    cursor: pointer;
    margin-top: 24px;
    transition: transform 0.2s ease;
}
.btn-subscribe:hover{
    transform: translateY(-6px);
}

/* main part related styles */
.about-container{
    max-width: 1600px;
    margin: 80px auto;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}
.about-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0 300px 0 300px;
}
hr{
    width: 1200px;
    margin: 80px auto;
    background-color: #7b00ff7f;
    border: none;
    height: 1px;
}
.achievement-container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin: 0 auto;
}
.achievement-title{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.achievement-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 0;
}
#star{
    font-size: 2.5rem;
}
.feature-card{
    max-width: 1600px;
    background-color: #230E3D;
    margin: 0 auto;
}
.feature-container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    gap: 24px;
}
.feature{
    padding: 40px;
    border-radius: 22px;
    background-color: #351165;
    transition: transform 0.2s ease;
}
.feature:hover{
    transform: translateY(-10px);
    background-color: #6306dc;
}
.feature-header{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 120px 0 40px 0;
}
.feature-img{
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
}
.feature-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.feature-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
}
#feature-1{
    grid-row: span 2;
}
#feature-2,#feature-3,#feature-4{
    grid-column: span 2;
}
#feature-5{
    grid-column: span 1;
}

/* feature-episode related code */
.episodes{
    max-width: 1600px;
    margin: 0 auto;
}
.episode-container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    gap: 30px;
}
.episode-header{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
}
.card{
    border-radius: 22px;
    background-color: #250D44;
    transition: transform 0.2s ease;
}
.card:hover{
    transform: translateY(-10px);
    background-color: #6306dc;
}
.card-header{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 24px;
    margin-top: 24px;
}
.card-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 24px;
    margin-top: -12px;
    padding-right: 24px;
}
.time{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}
.video{
    border-radius: 22px 22px 0 0;
}
#watch{
    margin-left: 24px;
    padding-bottom: 24px;
}

/* host related styles */
.host{
    max-width: 1600px;
    margin: 0 auto;
}
.host-container{
    max-width: 1200px;
    border-radius: 22px;
    background-color: #250D44;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.host-header{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
}
.host-name{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.about-host{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 24px;
}
.man{
    width: 200px;
    height: 200px;
    padding: 40px 24px 40px 40px;
}
.social-icons{
    gap: 14px;
    margin-top: 14px;
}
.icon-border{
    width: 42px;
    height: 42px;
    border: 2px solid #533C72;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-border img{
    width: 16px;
    height: 16px;
    object-fit: contain;
}

/* footer related styles */
.footer{
    max-width: 1600px;
    height: 412px;
    background: url("../images/footer-bg.png") center no-repeat;
    position: relative;
    margin: 120px auto 0;
    color: #FFFFFF;
}
.footer-bg{
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
}
.footer-content{
    text-align: center;
}
#footer-title{
    font-size: 4rem;
    padding-top: 90px;
    margin-bottom: 32px;
}
.footer-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 120px;
}
.footer-icons{
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}
.icon-items{
    align-items: center;
    gap: 24px;
}
.icon-title{
    font-size: 1rem;
    font-weight: 500;
}
.icon-img{
    width: 24px;
    height: 24px;
}  

/* mobile responsive related styles */
@media screen and (max-width:576px) {
    body{
        max-width: 440px;
        margin: 0 auto;
        padding: 0;
    }
    .navbar{
        max-width: 440px;
        margin: 0;
        display: flex;
        justify-content: space-between !important;
    }
    .brand{
        padding-left: 20px;
    }
    .hamburger{
        display: flex;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .nav-link,
    .btn-primary-1{
        display: none;
    }
    .hero{
        width: 440px;
        height: 466px;
    }
    .hero-circle{
        width: 200px;
        height: 200px;
    }
    .mic-img{
        width: 50px;
        height: 80px;
    }
    .new-badge{
        font-size: 1rem;
        right: 2px;
    }
    .banner{
        max-width: 440px;
        gap: 8px;
    }
    .banner-title{
        font-size: 2.5rem;
        text-align: center;
        padding-top: 130px;
    }
    .banner-description{
        padding-right: 30px;
        padding-left: 20px;
    }
    .about-title{
        font-size: 2rem;
    }
    .about-description{
        font-size: 1rem;
        padding: 0 6px 0 6px;
        line-height: 20px;
    }
    hr{
        width: 380px;
        margin: 40px auto;
    }
    .achievement-container{
        grid-template-columns: repeat(2,1fr);
        margin: -40px auto;
    }
    .achievement-title{
        font-size: 2.5rem;
    }
    .achievement-description{
        font-size: 1rem;
    }
    #a4{
        margin-top: 14px;
    }
    .feature-header{
        font-size: 2rem;
    }
    .feature-container{
        grid-template-columns: repeat(1,1fr);
        margin: 0 23px 0 23px;
    }
    .feature-card{
        width: 440px;
        padding-bottom: 30px;
    }
    .feature{
        width: 300px;
        margin-left: 5px;
    }
    .episode-container{
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding-left: 20px;
    }
    .episode-header{
        font-size: 2rem;
    }
    .card{
        width: 400px;
    }
    .video{
        width: 400px;
    }
    .host-container{
        display: block;
        text-align: center;
        width: 400px;
    }
    .host-header{
        font-size: 2rem;
    }
    .social-icons{
        margin-left: 75px;
    }
    .host-name{
        font-size: 1.5rem;
        margin-top: -10px;
    }
    .about-host{
        padding: 16px;
    }
    .footer{
        background: none;
        height: 248px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        margin-top: 50px;
    }
    .footer-bg{
        display: block;
        width: 100%;
        height: 248px;
        object-fit: cover;   
        position: absolute;  
        top: 0;
        left: 0;
        z-index: 1;
    }
    .footer-content{
        position: relative;
        z-index: 2;          
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0; 
        margin-top: -60px; 
        min-height: 248px;
    }
    #footer-title{
        font-size: 2.5rem;
        margin-bottom: 15px;
        margin-top: 0;
    }
    .footer-description{
        padding-bottom: 10px;
        font-size: 1rem;
    }
    .icon-img {
        width: 24px;   
        height: auto;
}
    .icon-items {
        flex-direction: row;   
        align-items: center;
        gap: 12px;              
        width: auto;
    }
    .icon-title {
        font-size: 1rem;    
        margin: 0;
}
    .footer-icons{
        flex-wrap: wrap;
        justify-content: center; 
        gap: 20px 40px;          
        margin-bottom: 15px;    
        max-width: 400px; 
    }
}